@import "variables";
@import "responsive";

* {
  box-sizing: border-box;
}

::-webkit-scrollbar-track {
  background-color: color-mix(in srgb,var(--primary-400),transparent 84%);
  border-radius: var(--radius-m);
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-thumb {
  border-radius: var(--radius-m);
  background-color: var(--primary-500);
}

.container {
  width: 100%;
  max-width: 131rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

html, body {
  @media all and (min-width: 1200px) {
    &::-webkit-scrollbar {
      width: var(--p-scrollbar-width);
    }
  }
}

.cursor-pointer {
  cursor: pointer;
}

.font-10-n {
  font: var(--font-10-n) !important;
}
.font-12-n {
  font: var(--font-12-n) !important;
}
.font-14-n {
  font: var(--font-14-n) !important;
}
.font-16-n {
  font: var(--font-16-n) !important;
}
.font-18-n {
  font: var(--font-18-n) !important;
}
.font-20-n {
  font: var(--font-20-n) !important;
}
.font-22-n {
  font: var(--font-22-n) !important;
}
.font-24-n {
  font: var(--font-24-n) !important;
}
.font-26-n {
  font: var(--font-26-n) !important;
}
.font-28-n {
  font: var(--font-28-n) !important;
}
.font-10-b {
  font: var(--font-10-b) !important;
}
.font-12-b {
  font: var(--font-12-b) !important;
}
.font-14-b {
  font: var(--font-14-b) !important;
}
.font-16-b {
  font: var(--font-16-b) !important;
}
.font-18-b {
  font: var(--font-18-b) !important;
}
.font-20-b {
  font: var(--font-20-b) !important;
}
.font-22-b {
  font: var(--font-22-b) !important;
}
.font-24-b {
  font: var(--font-24-b) !important;
}
.font-26-b {
  font: var(--font-26-b) !important;
}
.font-28-b {
  font: var(--font-28-b) !important;
}
.font-32-b {
  font: var(--font-32-b) !important;
}
.font-36-n {
  font: var(--font-36-n) !important;
}
.font-36-b {
  font: var(--font-36-b) !important;
}

.text-left {
  text-align: left;
  justify-content: flex-start;
}