@import "transitions";
@import "primevue";

html {
  font-size: 10px;
}

body {
  font: var(--font-12-n);
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--text-color);
  margin: 0;
}

h1, h2 {
  font: var(--font-32-b);
  @include media-max($tablet) {
    font: var(--font-24-b);
  }
}

h3, h4, h5, h6 {
  font: var(--font-24-b);
  @include media-max($tablet) {
    font: var(--font-20-b);
  }
}

.page {
  border-radius: var(--radius-l);
  &.shadow {
    box-shadow: var(--shadow);
  }
  &.padding {
     padding: var(--page-padding);
  }
}

nav {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.map {
  position: relative;
  cursor: grab;
  flex-grow: 1;
  .ymaps3x0--control__background {
    .ymaps3x0--geolocation-control {
      &-is-loading {
        background: none;
      }
    }
  }
}
