html body {
  .p-inputnumber-input {
    flex: none;
    width: 4rem;
    text-align: center;
    --p-inputtext-padding-y: .7rem;
  }

  .p-popover {
    --p-popover-gutter: .2rem;
    &:before, &:after {
      display: none;
    }
    .p-popover-content {
      padding-left: 0;
      padding-right: 0;
      &:has(.regions-list) {
        max-height: 15rem;
        overflow: auto;
      }
    }
  }

  .p-dialog {
    &.map-dialog {
      max-height: 60rem;
      height: 90%;
      width: 100%;
      max-width: 130rem;
      .p-dialog-content {
        flex-grow: 1;
        display: flex;
        overflow: hidden;
      }

      .p-togglebutton {
        flex-grow: 1;
      }
    }
  }

  .p-card.flat {
    --p-card-body-padding: 1rem;
    --p-card-border-radius: var(--radius-m);
    box-shadow: none;
    transition: var(--transition-fast);
    border: 1px solid var(--p-inputtext-border-color);
    &.active {
      border: 1px solid var(--primary-500);
      background: var(--primary-50);
    }
  }
}