$small: 420px;    // < 420px
$mobile: 600px;   // < 600px
$tablet: 1024px;  // < 1024px
$laptop: 1440px;  // < 1440px
$desktop: 1920px; // < 1920px

@mixin media-max($bp) {
  @media all and (max-width: #{$bp}) {
    @content
  }
}

@mixin media-min($bp) {
  @media all and (min-width: #{$bp}) {
    @content
  }
}
