// page animation
.fade-slow-enter-active,
.fade-slow-leave-active {
  transition: var(--transition-slow);
}

.fade-slow-enter-from {
  opacity: 0;
  filter: blur(.5rem);
  @include media-min($tablet) {
    transform: scale(.9);
  }
}

.fade-slow-leave-to {
  opacity: 0;
  filter: blur(.5rem);
  @include media-min($tablet) {
    transform: scale(1.1);
  }
}
// page animation end

.fade-enter-active,
.fade-leave-active {
  transition: var(--transition-fast);
}
.fade-leave-active {
  position: absolute !important;
}
.fade-enter-from {
  opacity: 0;
  transform: scale(0.9);
}

.fade-leave-to {
  opacity: 0;
  transform: scale(1.1);
}


.slideY-enter-active,
.slideY-leave-active {
  transition: var(--transition-slow);
}

.slideY-enter-from {
  opacity: 0;
  transform: translateY(-150%);
}

.slideY-leave-to {
  opacity: 0;
  transform: translateY(200%);
}