:root {
  --p-scrollbar-width: 5px;

  /* ================== fonts ================== */
  --primary-font: 'Montserrat', sans-serif;

  /* --font-{size}-{weight} */
  --font-10-n: normal 400 1.0rem/1.2 var(--primary-font);
  --font-12-n: normal 400 1.2rem/1.2 var(--primary-font);
  --font-14-n: normal 400 1.4rem/1.2 var(--primary-font);
  --font-16-n: normal 400 1.6rem/1.2 var(--primary-font);
  --font-18-n: normal 400 1.8rem/1.2 var(--primary-font);
  --font-20-n: normal 400 2.0rem/1.2 var(--primary-font);
  --font-22-n: normal 400 2.2rem/1.2 var(--primary-font);
  --font-24-n: normal 400 2.4rem/1.2 var(--primary-font);
  --font-26-n: normal 400 2.6rem/1.2 var(--primary-font);
  --font-28-n: normal 400 2.8rem/1.2 var(--primary-font);

  --font-10-b: normal 700 1.0rem/1.2 var(--primary-font);
  --font-12-b: normal 700 1.2rem/1.2 var(--primary-font);
  --font-14-b: normal 700 1.4rem/1.2 var(--primary-font);
  --font-16-b: normal 700 1.6rem/1.2 var(--primary-font);
  --font-18-b: normal 700 1.8rem/1.2 var(--primary-font);
  --font-20-b: normal 700 2.0rem/1.2 var(--primary-font);
  --font-22-b: normal 700 2.2rem/1.2 var(--primary-font);
  --font-24-b: normal 700 2.4rem/1.2 var(--primary-font);
  --font-26-b: normal 700 2.6rem/1.2 var(--primary-font);
  --font-28-b: normal 700 2.8rem/1.2 var(--primary-font);


  --font-32-b: normal 700 3.2rem/1.2 var(--primary-font);

  --font-36-n: normal 400 3.6rem/1.2 var(--primary-font);
  --font-36-b: normal 700 3.6rem/1.2 var(--primary-font);

  /* ================== other ================== */
  --radius-s: .3rem;
  --radius-m: .5rem;
  --radius-l: 1rem;
  --radius-xl: 5rem;
  --radius-round: 50%;

  --transition-fast: all 0.3s;
  --transition-slow: all 0.4s;

  --shadow: 0 .4rem 2rem 0 var(--shadow-color);
  --card-shadow: 0 .2rem 1rem 0 var(--shadow-color);
  --button-shadow: 0 .1rem .5rem 0 var(--shadow-color);

  --shadow-primary: 0 .4rem 2rem 0 var(--primary-100);
  --shadow-secondary: 0 .4rem 2rem 0 var(--secondary-100);

  --page-padding: 1.6rem;
  /* ================== other ================== */
}

html {
  --tg-viewport-height: 100dvh;
  --tg-viewport-stable-height: 100dvh;
}
