:root {
  --p-scrollbar-width: 5px;

  /* ================== fonts ================== */
  --primary-font: 'Montserrat', sans-serif;

  /* --font-{size}-{weight} */
  --font-10-n: normal 400 1.0rem/1.2 var(--primary-font);
  --font-12-n: normal 400 1.2rem/1.2 var(--primary-font);
  --font-14-n: normal 400 1.4rem/1.2 var(--primary-font);
  --font-16-n: normal 400 1.6rem/1.2 var(--primary-font);
  --font-18-n: normal 400 1.8rem/1.2 var(--primary-font);
  --font-20-n: normal 400 2.0rem/1.2 var(--primary-font);
  --font-22-n: normal 400 2.2rem/1.2 var(--primary-font);
  --font-24-n: normal 400 2.4rem/1.2 var(--primary-font);
  --font-26-n: normal 400 2.6rem/1.2 var(--primary-font);
  --font-28-n: normal 400 2.8rem/1.2 var(--primary-font);

  --font-10-b: normal 700 1.0rem/1.2 var(--primary-font);
  --font-12-b: normal 700 1.2rem/1.2 var(--primary-font);
  --font-14-b: normal 700 1.4rem/1.2 var(--primary-font);
  --font-16-b: normal 700 1.6rem/1.2 var(--primary-font);
  --font-18-b: normal 700 1.8rem/1.2 var(--primary-font);
  --font-20-b: normal 700 2.0rem/1.2 var(--primary-font);
  --font-22-b: normal 700 2.2rem/1.2 var(--primary-font);
  --font-24-b: normal 700 2.4rem/1.2 var(--primary-font);
  --font-26-b: normal 700 2.6rem/1.2 var(--primary-font);
  --font-28-b: normal 700 2.8rem/1.2 var(--primary-font);


  --font-32-b: normal 700 3.2rem/1.2 var(--primary-font);

  --font-36-n: normal 400 3.6rem/1.2 var(--primary-font);
  --font-36-b: normal 700 3.6rem/1.2 var(--primary-font);

  /* ================== other ================== */
  --radius-s: .3rem;
  --radius-m: .5rem;
  --radius-l: 1rem;
  --radius-xl: 5rem;
  --radius-round: 50%;

  --transition-fast: all 0.2s;
  --transition-slow: all 0.4s;
  /* ================== other ================== */
}

html {
  --tg-viewport-height: 100dvh;
  --tg-viewport-stable-height: 100dvh;
}
